{% extends 'base.html' %}

{% block js %}
    <script type="text/javascript">
        ForisTranslations.load({{ babel_tzinfo_catalog | safe }});
    </script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'reforis/css/react-datatime.css') }}"/>
{% endblock %}

{% block title %}
    {% trans %}Region and time{% endtrans %}
{% endblock %}

{% block content %}
    <h1>{% trans %}Region and time{% endtrans %}</h1>
    <p>{% trans %}
        It is important for your device to have the correct time set. If your device's time is delayed, the
        procedure of SSL certificate verification might not work correctly.
    {% endtrans %}</p>
    <div id="region_and_time_container"></div>
{% endblock %}
