#notifications .dropdown-menu {
    width: 20rem;
}

#notifications .dropdown-menu .btn-link {
    color: #95a5a6;
}

#notifications .dropdown-menu .btn-link:hover {
    color: #00a2e2;
    text-decoration: none;
}

#notifications .dropdown-divider-top {
    margin-bottom: 0;
}

#notifications .dropdown-divider-bottom {
    margin-top: 0;
}

#notifications .simplebar-scrollbar::before {
    background: black !important;
}

#notifications .scrollable-menu {
    max-height: 20rem;
}

@media (max-width: 769px) {
    #top-bar #notifications.dropdown:hover .dropdown-menu {
        display: none;
    }
}
