{% macro dropdown_item(name, endpoint) -%}
    <li {% if request.url_rule.endpoint == endpoint %}class="active"{% endif %}>
        <a class='text-center' href="{{ url_for(endpoint) }}">
            <small>{{ name }}</small>
        </a>
    </li>
{%- endmacro %}

{% set netowrk_dropdown_is_active = request.url_rule.endpoint in ['Foris.wan', 'Foris.lan', 'Foris.wifi', 'Foris.dns'] %}

<nav id="sidebar">
    <div id="sidebar-header">
        <img class="card-img-top" src="{{ url_for('static', filename = 'imgs/logo-turris.svg') }}">
        <p>reForis version 0.1</p>
    </div>

    <ul id='' class="list-unstyled components">
        <li{% if netowrk_dropdown_is_active %} class="active" {% endif %}>
            <a href="#network-settings-submenu"
               class="dropdown-toggle"
               data-toggle="collapse"
            >
                {% trans %}Network settings{% endtrans %}
            </a>
            <ul
                    class="collapse list-unstyled {% if netowrk_dropdown_is_active %} show {% endif %}"
                    id="network-settings-submenu"
            >
                {{ dropdown_item('WAN','Foris.wan') }}
                {{ dropdown_item('LAN','Foris.lan') }}
                {{ dropdown_item('Wi-Fi','Foris.wifi') }}
                {{ dropdown_item('DNS','Foris.dns') }}
            </ul>

        </li>

        <li {% if request.url_rule.endpoint == 'Foris.administration' %}class="active"{% endif %}>
            <a href="{{ url_for('Foris.administration') }}">{% trans %}Administration{% endtrans %}</a>
        </li>

        <li {% if request.url_rule.endpoint == 'Foris.updates' %}class="active"{% endif %}>
            <a href="{{ url_for('Foris.updates') }}">{% trans %}Updates{% endtrans %}</a>
        </li>

        <li {% if request.url_rule.endpoint == 'Foris.packages' %}class="active"{% endif %}>
            <a href="{{ url_for('Foris.packages') }}">{% trans %}Packages{% endtrans %}</a>
        </li>

        <li>
            <a href="/cgi-bin/luci">{% trans %}Advanced administration{% endtrans %}</a>
        </li>

        {% for plugin in plugins %}
            <li {% if request.url_rule.endpoint == plugin.url_prefix %}class="active"{% endif %}>
                <a href="{{ plugin.url_prefix }}">{{ plugin.name }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>
