{% macro dropdown_item(name, url) -%}
    <li {% if request.path.startswith(url) %}class="active"{% endif %}>
        <a class='text-center' href="{{ url }}">
            <small>{{ name }}</small>
        </a>
    </li>
{%- endmacro %}

{% set dropdown_is_active = request.path in ['/wifi' ,'/wan','/lan' ] %}

<nav id="sidebar">
    <div id="sidebar-header">
        <img class="card-img-top" src="{{ url_for('static', filename = 'imgs/logo-turris.svg') }}">
        <p>reForis version 0.1</p>
    </div>

    <ul id='' class="list-unstyled components">
        <li{% if dropdown_is_active %} class="active" {% endif %}>
            <a href="#network-settings-submenu"
               class="dropdown-toggle"
               data-toggle="collapse"
            >
                {% trans %}Network settings{% endtrans %}
            </a>
            <ul
                    class="collapse list-unstyled {% if dropdown_is_active %} show {% endif %}"
                    id="network-settings-submenu"
            >
                {{ dropdown_item('WAN','/wan') }}
                {{ dropdown_item('LAN','/lan') }}
                {{ dropdown_item('Wi-Fi','/wifi') }}
                {{ dropdown_item('DNS','/dns') }}
            </ul>

        </li>

        <li {% if request.path.startswith('/administration') %}class="active"{% endif %}>
            <a href="/administration">{% trans %}Administration{% endtrans %}</a>
        </li>

        <li {% if request.path.startswith('/updates') %}class="active"{% endif %}>
            <a href="/updates">{% trans %}Updates{% endtrans %}</a>
        </li>

        <li {% if request.path.startswith('/packages') %}class="active"{% endif %}>
            <a href="/packages">{% trans %}Packages{% endtrans %}</a>
        </li>

        {% for plugin in plugins %}
            <li {% if request.path.startswith(plugin.url_prefix) %}class="active"{% endif %}>
                <a href="{{ plugin.url_prefix }}">{{ plugin.name }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>
