<div id="top-bar">
    <div id="notifications_dropdown_container"></div>

    <div class="dropdown">
        <button class="nav-item btn btn-link dropdown-toggle"
                type="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
            English
        </button>

        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">English</a>
            <a class="dropdown-item" href="#">Czech</a>
            <a class="dropdown-item" href="#">Russian</a>
        </div>
    </div>
    <div>
        <a class="nav-link" href="{{ url_for("Foris.logout") }}">{% trans %}Logout{% endtrans %}</a>
    </div>

</div>