{% extends 'base.html' %}

{% block title %}Guest network{% endblock %}

{% block content %}
    <h1>{% trans %}Guest network{% endtrans %}</h1>
    <p>
        {% trans wifi_url=url_for('Foris.wifi') %}
            Guest network is used for <a href="{{ wifi_url }}">guest Wi-Fi</a>.
            It is separated from your ordinary LAN. Devices connected to this network are allowed to access the
            internet, but are not allowed to access the configuration interface of the this device nor the devices
            in LAN.
        {% endtrans %}
    </p>
    <div id="guest_network_container"></div>
{% endblock %}
