{% extends 'base.html' %}

{% block title %}LAN{% endblock %}

{% block content %}
    <h1>LAN</h1>
    <p>
        {% trans %}
            This section contains settings for the local network (LAN). The provided defaults are suitable for most
            networks.
            <br/>
            <b>Note:</b> If you change the router IP address, all computers in LAN, probably including the one you are
            using now, will need to obtain a <b>new IP address</b> which does not happen <b>immediately</b>. It is
            recommended to disconnect and reconnect all LAN cables after submitting your changes to force the update.
            The next page will not load until you obtain a new IP from DHCP (if DHCP enabled) and you might need to
            <b>refresh the page</b> in your browser.
        {% endtrans %}
    </p>
    <div id="lan_container"></div>
    <div id="dhcp_clients_container"></div>
{% endblock %}
