{#TODO: clean this up#}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="{{ url_for('static', filename='reforis/imgs/favicon.ico') }}">

    {# Bootstrap #}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'reforis/css/bootstrap.min.css') }}"/>

    {# Custom CSS #}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'reforis/css/custom.css') }}"/>

    {# Custom JS #}
    {% include 'includes/locale.html' %}

    <title>Login - Foris</title>
</head>
<body>
<div class="login">
    <div class="justify-content-between">
        <img src="{{ url_for('static', filename = 'reforis/imgs/logo-turris.svg') }}">
        <h1>Login</h1>
        <form action="" method="post">
            <div class="form-group">
                <input type="password" placeholder="Password" class="form-control" name="password">
            </div>

            <button class="btn btn-primary" type="submit">Login</button>
        </form>
        <div style="text-align: right">
            <a href="/cgi-bin/luci">Go to LuCI</a>
        </div>
    </div>
</div>

</body>
</html>
