<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="{{ url_for('static', filename='reforis/imgs/favicon.ico') }}">

    {# Custom CSS #}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'reforis/css/app.css') }}" />

    {# Custom JS #}
    {% include 'includes/locale.html' %}

    <title>Login - Foris</title>
</head>

<body id="login-body" class="text-center">
    <form action="{{ url_for('Views.login') }}" method="POST" class="form-login">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        <img class="mb-3" src="{{ url_for('static', filename = 'reforis/imgs/logo-turris.svg') }}" alt="Turris Logo"
            width="280">
        {% if error_message %}
        <div class="alert alert-danger">
            <span>{{ error_message }}</span>
        </div>
        {% endif %}
        <label for="inputPassword" class="sr-only">{% trans %}Password{% endtrans %}</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" autofocus
            required>
        <button class="btn btn-primary btn-block mb-3" type="submit">{% trans %}Log in{% endtrans %}</button>
        <a href="/cgi-bin/luci">{% trans %}Go to LuCI{% endtrans %}</a>
    </form>
</body>
</body>

</html>