{% extends 'base.html' %}

{% block title %}Packages{% endblock %}

{% block content %}
    <h1>Packages</h1>
    <p>
        {% trans %}
            Apart from the standard installation, you can optionally select bundles of additional software that'd be
            installed on the router. This software can be selected from the following list. Please note that only
            software that is part of TurrisOS or that has been installed from a package list is maintained by automatic
            updates system. Software that has been installed manually or using opkg is not affected.
        {% endtrans %}
    </p>
    <div id="packages_container"></div>
{% endblock %}
