{% extends 'base.html' %}

{% block title %}WAN{% endblock %}

{% block content %}
    <h1>WAN</h1>
    <p>
        {% trans %}
            Here you specify your WAN port settings. Usually, you can leave this options untouched unless instructed
            otherwise by your internet service provider. Also, in case there is a cable or DSL modem connecting your
            router to the network, it is usually not necessary to change this setting.
        {% endtrans %}
    </p>
    <div id="wan_container"></div>

    <h1>{% trans %}Connection test{% endtrans %}</h1>
    <p>
        {% trans %}
            Here you can test you connection settings. Remember to click on the Save button before running the test.
            Note that sometimes it takes a while before the connection is fully initialized. So it might be useful to
            wait for a while before running this test.
        {% endtrans %}
    </p>
    <div id="wan_connection_test_container"></div>

{% endblock %}
