{% extends 'base.html' %}

{% block title %}WAN{% endblock %}

{% block content %}
    <h1>WAN</h1>
    <p>
        {% trans %}
            Here you specify your WAN port settings. Usually, you can leave this options untouched unless instructed
            otherwise by your internet service provider. Also, in case there is a cable or DSL modem connecting your
            router to the network, it is usually not necessary to change this setting.
        {% endtrans %}
    </p>
    <div id="wan_container"></div>
{% endblock %}


