{% extends 'base.html' %}

{% block content %}
    <h1>Diagnostics</h1>
    <h3>Modules</h3>
    <p>{% trans %}
        This page is dedicated to create diagnostics which can be useful to us to debug some problems related
        to the router's functionality.
    {% endtrans %}
    </p>

    <form method="post">
        {% for module in modules %}
            <div class="form-group row">
                <div class="form-label col-sm-6 col-lg-3">
                    <label class="form-label" for="{{ module }}">{{ module }}</label>
                </div>
                <div class="form-check col-sm-6 col-lg-8">
                    <input type='checkbox' id="{{ module }}" name="{{ module }}" checked/>
                </div>
            </div>
        {% endfor %}
        <button class="btn btn-primary col-sm-12 offset-lg-8 col-lg-3">
            {% trans %}Generate{% endtrans %}
        </button>
    </form>

    <h3>List</h3>
    <table class="table table-hover">
        <tbody>
        <tr>
            <th scope="col">{% trans %}ID{% endtrans %}</th>
            <th scope="col">{% trans %}Status{% endtrans %}</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        {% for diagnostic in diagnostics %}
            <tr>
                <th>{{ diagnostic.diag_id }}</th>
                <td>{{ diagnostic.status }}</td>
                <td>
                    {% if diagnostic.status == 'ready' %}
                        <form method="post" action="{{ url_for('Diagnostics.download') }}">
                            <button name="id" value="{{ diagnostic.diag_id }}" class="btn btn-primary">
                                {% trans %}Download{% endtrans %}
                            </button>
                        </form>
                    {% endif %}
                </td>
                <td>
                    {% if diagnostic.status == 'ready' %}
                        <form method="post" action="{{ url_for('Diagnostics.delete') }}">
                            <button name="id" value="{{ diagnostic.diag_id }}" class="btn btn-primary">
                                {% trans %}Delete{% endtrans %}
                            </button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
