@keyframes rebootFade {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}


#reboot-dropdown-toggle {
    animation-name: rebootFade;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#reboot-dropdown-toggle svg {
    color: red
}
